.main-header {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  text-align: left;
  background-color: #3f617d;
}

.main-header h1 {
  margin-top: 0;
  color: #fff;
}

.bs-docs-header {
  margin-top: 40px;
  margin-bottom: 10px;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 20px;
  text-align: left;
  position: relative;
  padding: 30px 20px;
  color: #abb0b3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #ffffff;
}

.panel {
  background-color: #FAFAFA;
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  color: #B0B0B0;
  display: block;
  overflow: hidden;
  position: relative;
  transition: background-color .2s
  cubic-bezier(0.4, 0, 0.2, 1),box-shadow .3s
  cubic-bezier(0.4, 0, 0.2, 1),color .2s
  cubic-bezier(0.4, 0, 0.2, 1),fill .2s
  cubic-bezier(0.4, 0, 0.2, 1);
}

.panel:hover {
  box-shadow: 0 4px 5px rgba(0,0,0,0.4);
  color: #000;
}

.panel-heading {
  padding-bottom: 20px;
}

.intrude-less {
  margin-left: 0;
  opacity: .8;
}

.words-pannel {
  margin-top: 10px;
}

.list-group-item {
  background-color: #fafafa;
}

/*.avatar {
  height: 48px;
  width: 48px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 10px;
  float: left;
  margin-right: 18px;
  cursor: default;
}*/

.item blockquote {
  border-left: none;
  margin: 0;
}

.item blockquote img {
  margin-left: -26px;
}

.item blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  margin-right: 10px;
}

.github , .footer a {
  color: #333;
}

.footer {
  margin-bottom: 15px;
}
